body {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    text-shadow: 4px 4px 5px rgb(78, 70, 77);
    cursor: pointer;
}


.stopwatch-content {
    background: hsla(0, 0%, 62%, 0.326);

    border: 2px solid hsla(45, 2%, 60%, 0.394);
    border-radius: 20px;
    padding: 2rem;
    font-size: 3rem;
    font-weight: bold;
}



button {
    font-size: 1.5rem;

}

.start-button {
    background: rgba(96, 103, 96, 0.394);
    border: none;

}



.stop-button {
    background: rgba(131, 111, 110, 0.394);
    border: none;


}


.reset-button {
    background: rgba(154, 161, 176, 0.394);
    border: none;
}

.start-button:hover {
    background: hsla(120, 4%, 49%, 0.394);
    border: none;

}

.stop-button:hover {
    background: rgba(170, 152, 148, 0.394);
    border: none;

}

.reset-button:hover {
    background: rgba(185, 189, 197, 0.394);
    border: none;

}